@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

.dark-theme {
  --color: #FD7F20;
  --altcolor: white;
  --bgcolor: #171717;
  --wave: url('../public/button-wave-dark.png');
}

.light-theme {
  --color: #F78DA7;
  --altcolor: #171717;
  --bgcolor: white;
  --wave: url('../public/button-wave-light.png');
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

/* Navbar */

.logos {
  font-size: 3rem;
}

.toggle {
  font-size: 1.2rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.react-toggle {
  color: white;
}

.react-toggle--checked .react-toggle-track {
  background-color: var(--color) !important;
}

.react-toggle .react-toggle-track {
  background-color: var(--color) !important;
}

.react-toggle--checked .react-toggle-thumb {
  border-color: var(--color) !important;
}

.react-toggle .react-toggle-thumb {
  border-color: var(--color) !important;
}

.react-toggle--checked {
  color: white;
}

.logo {
  color: var(--color);
  display: inline-block;
  transition: all .2s ease-in;
}

.logo:hover {
  transform: translateY(-2px);
}

.logo {
  margin: 0 3rem 0 3rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 5rem;
  padding: 2rem;
  background-color: var(--bgcolor);
}

/* Hero */

.hero {
  height: 50rem;
  background-color: var(--bgcolor);
  color: var(--altcolor);
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-container {
  margin-left: 3rem;
}

.hero h1 {
  font-size: 5.5rem;
  font-weight: 700px;
}

.hero h1 span {
  color: var(--color);
}

.hero-nav {
  margin-top: 3rem;
}

.hero-nav-a {
  color: var(--color);
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 1px solid var(--color);
  background: transparent;
  background-image: var(--wave);
  background-repeat: repeat-x;
  background-position: 0 -100%;
  transition: .3s ease-in-out;
}

.hero-nav-a:hover {
  background-position: center;
  color: white;
}

/* Skills */

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bgcolor);
  position: relative;
}

.skill-curve-top, .skill-curve-bottom {
  width: 100%;
  height: 30rem;
}

.skill-curve-top img, .skill-curve-bottom img {
  width: 100%;
  height: 100%;
}

.skills-title {
  position: absolute;
  top: 20%;
  padding: 2rem;
}

.skills-title h1 {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
}

.skills-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  padding: 5rem;
  position: absolute;
}

/* Skill */

.skill h2 {
  color: white;
  margin-top: 1rem;
}

.skill img {
  background-color: white;
  border-radius: 100%;
  padding: 0.5rem;
}

/* Projects */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  background-color: var(--bgcolor);
  color: var(--altcolor);
}

.project-header {
  text-transform: uppercase;
  font-size: 4rem;
}

/* Project */

.project-container {
  display: flex;
  padding: 5rem;
  gap: 5rem;
}

.project-left {
  max-width: 33.33%;
}

.project-title {
  font-size: 2.5rem;
}

.project-desc {
  font-size: 1.5rem;
  margin: 2rem 0 3rem 0;
}

.project-note {
  margin-bottom: 1rem;
  font-style: italic;
}

.project-nav {
  display: flex;
}

.project-nav-a {
  white-space: nowrap;
  color: var(--color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 1px solid var(--color);
  background: transparent;
  background-image: var(--wave);
  background-repeat: repeat-x;
  background-position: 0 -100%;
  transition: .3s ease-in-out;
}

.project-nav-a:hover {
  background-position: center;
  color: white;
}

.project-right {
  max-width: 66.666667%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.project-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* About */

.about-container {
  position: relative;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bgcolor);
}

.blob-top, .blob-bottom {
  max-width: 40rem;
  height: 30rem;
  position: absolute;
  /* z-index: -1; */
}

.blob-top img, .blob-bottom img {
  width: 100%;
  height: 100%;
}

.blob-top {
  left: 0px
  top 0px;
}

.blob-bottom {
  right: 0px;
  bottom: 0px;
}


.about h1 {
  padding: 3rem;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--altcolor);
  z-index: 2;
}

.about-details {
  display: flex;
  max-width: 100rem;
}

.about-details-left {
  width: 50%;
  height: 30rem;
}

.about-details-left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-details-right {
  width: 50%;
  color: var(--altcolor);
  padding: 3rem;
  z-index: 2;
}

.about-details-right p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

#center {
  margin: 1rem 0 1rem 0;
}

#center + p {
  margin-bottom: 3rem;
}

.about-nav-a {
  color: var(--color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 1px solid var(--color);
  background: transparent;
  background-image: var(--wave);
  background-repeat: repeat-x;
  background-position: 0 -100%;
  transition: .3s ease-in-out;
}

.about-nav-a:hover {
  background-position: center;
  color: white;
}

/* Contact */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--bgcolor);
  color: var(--altcolor);
  padding: 3rem;
}

.contact-header {
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 4rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

#name, #email, #message, #subject {
  padding: 1rem;
  font-size: 1.5rem;
  font-family: 'Montserrat';
  background-color: transparent;
  color: var(--altcolor);
  border: 1px solid var(--altcolor);
}

#email {
  margin: 1rem 0 1rem 0;
}

#subject {
  margin: 0 0 1rem 0;
}

.mail-submit {
  width: 10rem;
  margin: auto;
  color: var(--color);
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 1px solid var(--color);
  background: transparent;
  background-image: var(--wave);
  background-repeat: repeat-x;
  background-position: 0 -100%;
  transition: .3s ease-in-out;
  cursor: pointer;
  margin-top: 2rem;
}

.mail-submit:hover {
  background-position: center;
  color: white;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color);
  color: white;
  padding: 3rem;
  gap: 2rem;
}

.footer-left {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.footer-title {
  font-size: 2rem;
}

.footer-left-img {
  width: 10rem;
  height: 10rem;
}

.footer-left-img img {
  height: 100%;
  width: 100%;
  filter: invert();
  object-fit: cover;
}

.footer-text {
  font-size: 1.3rem;
  border-left: 1px solid white;
  padding: 1rem;
  text-align: center;
}

.footer-copyright {
  margin-bottom: 0.5rem;
}

.icons-link a {
  color: white;
}

.icons-link a:hover {
  color: var(--altcolor);
}

.footer-nav {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
}

.footer-nav a {
  color: white;
}

/* Maintenance */

.maintenance {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.maintenance-header {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 3rem 0 3rem 0;
}

.maintenance-text-1, .maintenance-text-2 {
  font-size: 1.2rem;
}

/* Theme */

#light {
  background-color: white;
  color: #F78DA7;
}

/* Media Queries */

@media(max-width:1000px) {
  .project-container {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  .project-left {
    min-width: 67%;
  }
  .about-details {
    flex-direction: column;
    align-items: center;
  }
  .project-left {
    max-width: 100%;
  }
  .project-right {
    max-width: 100%;
  }
}

@media(max-width: 770px) {
  .hero {
    padding: 0 2rem;
  }
  .contact-form {
    width: 50rem;
    margin: auto;
  }
  .skills-title {
    padding: 0rem;
  }
}

@media(max-width: 550px) {
  .navbar {
    justify-content: center;
  }
  .hero-container {
    margin-left: 0;
    text-align: center;
  }
  .hero-container h1 {
    font-size: 4rem;
  }
  .hero-nav {
    display: flex;
    flex-direction: column;
    margin: 3rem auto 3rem auto;
    width: 15rem;
  }
  .about-details-right {
    text-align: center;
  }
  .contact-form {
    width: 35rem;
  }
  .footer {
    flex-direction: column;
  }
  .project-container {
    padding-left: 0;
    padding-right: 0;
  }
  .blob-top, .blob-bottom {
    max-width: 30rem;
    height: 25rem;
  }
}

@media(max-width: 450px) {
  .contact-form {
    width: 27rem;
  }
  .about-details-left {
    height: 20rem;
  }
  .skill-curve-top, .skill-curve-bottom {
    height: 35rem;
  }
  .skills-images-container {
    margin-top: 4rem;
  }
  .blob-top, .blob-bottom {
    max-width: 20rem;
    height: 15rem;
  }
  .logo {
    margin: 0 2rem 0 2rem;
  }
}

@media(max-width: 350px) {
  .project-left {
    text-align: center;
    max-width: 100%;
  }
  .project-nav {
    flex-direction: column;
  }
  .about-details-left {
    height: 15rem;
  }
  .skills-images-container {
    margin-top: 7rem;
  }
  .skill-curve-top, .skill-curve-bottom {
    height: 40rem;
  }
  .logo {
    margin: 0 1rem 0 1rem;
  }
}

@media(max-width: 330px) {
  .skill-curve-top, .skill-curve-bottom {
    height: 50rem;
  }
}

@media(max-width: 310px) {
  .contact-form {
    width: 20rem;
  }
  .footer-left {
    flex-direction: column;
  }
  .footer-text {
    border: none;
    border-top: 1px solid white;
  }
  .skill-curve-top, .skill-curve-bottom {
    height: 60rem;
  }
  .blob-top, .blob-bottom {
    max-width: 15rem;
    height: 15rem;
  }
}

@media(max-width: 250px) {
  .skill-curve-top, .skill-curve-bottom {
    height: 70rem;
  }
}